body {
  padding: 0;
  text-align: center;
  background-image: url("../images/Golden_Gate_Bright-[Converted].png");
  background-repeat: no-repeat;
  background-size: cover;
}

h2{
  font-size: 30px;
}


#start-button {
  font-size: 30px;
  background-color: navy;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-top: 400px;
  margin-bottom: 20px;
}

#game-board {
   display: flex; 
   flex-direction: row-reverse;
   align-items: flex-start;
   justify-content: flex-end;
   justify-content: space-around;
    padding: 20px 0px;
    border: 5px solid red;
    margin: auto;
}

/* #canvas {
  border: 5px solid red;
}  */

.container {
  border: 5px solid red;
}

#box {  
  background: rgba(183, 233, 233, 0.801);
  border: 5px solid blue;
  margin: 2%;
  max-width: 60%;
  border-radius: 80px;

}

#scoreDiv {
  border: 5px solid blue;
    font-size: 30px;
    background-color: #870007;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
}

#scoreDivAfter {
  border: 5px solid blue;
    font-size: 30px;
    background-color: blue;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 200px;
}


.btn-active {
  font-size: 30px;
  background-color: navy;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-top: 400px;
  margin-bottom: 20px;
  margin-left: 500px;
}